
$body-bg: #f8f9fa;

$font-size-base: 0.9rem;
$card-border-width: 0;

$fa-path: '../../node_modules/fedapay-bootstrap-theme/fonts';
$fa-font-path: '../../node_modules/fedapay-bootstrap-theme/fonts/fontawesome';
